.point {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 30px;

  background: tan;
}

.point + .point {
  margin-top: 10px;
}

.text {
  width: calc(100% - 20px);
}

.close-btn {
  max-width: 30px;
  min-width: 30px;
}

.close-btn:hover {
  background: pink;
  transition: 500ms;
}

.close-btn:active {
  background: white;
  transition: 0ms;
}